<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragments="head">
    <title th:text="${title}">Kids Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div th:fragment="page-header">
    <nav class="navbar">
        <div class="navbar-header">
            <h1>Kids Events</h1>
        </div>
        <div class="container-fluid">
            <Div class="nav navbar-nav navbar-right">
                <div class="nav navbar-nav">
                    <img src="profile.jpg" class="img-thumbnail" alt="avatar">
                </div>
                <div class="nav navbar-nav navbar-right">
                    <ul>
                        <li>Welcome, Guest!</li>
                        <li>Login <a th:href="@{/login}">Here</a></li>
                    </ul>
                </div>

            </Div>
        </div>
    </nav>
</div>
<div th:fragment="menu-bar">
    <nav class="navbar navbar-inverse" style="background: aqua">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/event/add">Calendar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="menu-bar2">
    <nav class="navbar navbar-inverse" style="background: aqua">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/events/index">Events</a></li>
                <li><a href="/profiles/index">Families</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="title-search-bar">
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <h2 th:text="${title}"></h2>
            </ul>
            <form class="form-inline nav navbar-nav navbar-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
</html>