<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments :: head">

    <body class="container">
        <div class="container" th:replace="fragments :: page-header"></div>
        <div class="container" th:replace="fragments :: menu-bar2"></div>
    <h2>Family Events</h2>
    <div>
        <table class="centeredTable">
            <tr>
                <th>Date</th>
                <th>Event Details</th>
                <th>Who's Going</th>
            </tr>
            <tr>
                <td>12/12/1978</td>
                <td>To support RFS, we use a Sass mixin to replace our normal font-size properties. Responsive font
                        sizes will be compiled into calc() functions with a mix of rem and viewport units to enable the
                        responsive scaling behavior. More about RFS and its configuration can be found on its GitHub repository.</td>
                <td>Dad</td>
            </tr>
            <tr>
                <td>12/12/1978</td>
                <td>To support RFS, we use a Sass mixin to replace our normal font-size properties. Responsive font
                    sizes will be compiled into calc() functions with a mix of rem and viewport units to enable the
                    responsive scaling behavior. More about RFS and its configuration can be found on its GitHub repository.</td>
                <td>Mom</td>
            </tr>
        </table>
    </div>
    </body>
</html>